/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; background-color: #EEEEEE; }

//eliminamos los estilos de los link
a{
  text-decoration: none;
  color: black;
}

//creamos un contenedor centrado
div.container{
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//el contenedor ocupará toda la pantalla en monitores pequeños
@media screen and (max-width:800px) {
  div.container{
      width: 100% !important;
  }
}

//Cambiamos el color de los mensajes de error
snack-bar-container{
  background-color: red !important;
  color: white !important;
}
